


        
	





<section id="masthead" class="masthead-sub">
	
	<div class="container">
		
		<h2>關於京麟</h2>
		
	</div> <!-- /.container -->
	
</section> <!-- /#masthead -->        





<section id="content">

    <div class="container">
    	
    	<div class="row">
			
			<div class="section-title">
				<h2>精雕細琢</h2>
			</div>
			
			<div class="span6">
					
					<h4>京麟企業</h4>

					<br />
					
					<ul class="mark-list">
						
						<li>
							<span class="mark">
								<i class="icon-check"></i> 
							</span>

							<h4>廟宇承建</h4>
							京麟企業股份有限公司創辦人黃東益，於1985年成立“東益水泥工藝社”從事寺廟建築模具開發設計、製造、安裝、翻新、彩繪、剪黏等業務。至1998年成立“京麟企業“，增設木雕、石雕設計製作及進出口等業務，嚴選木雕石雕材料，引進精緻雕刻品。憑藉30餘年的寺廟建築、整體設計、專業規劃能力及堅強工作團隊，京麟企業深獲各界喜愛及肯定。
						</li>
						
						<li>
							<span class="mark">				
								<i class="icon-check"></i> 
							</span>

							<h4>模型建造</h4>
							依顧客需求製作水泥、木材或石頭的模型
						</li>
						
						<li>
							<span class="mark">
								<i class="icon-check"></i>
							</span>

							<h4>景觀建造</h4>
							棧道、欄杆等景觀建造
						</li>	     
						   			
					</ul>

				
			</div> <!-- /span4 -->
			
			<div class="span6">

				<br />

				<div id="about-carousel" class="carousel slide">
				  <ol class="carousel-indicators">
				    <li data-target="#about-carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#about-carousel" data-slide-to="1"></li>
				    <li data-target="#about-carousel" data-slide-to="2"></li>
				     <li data-target="#about-carousel" data-slide-to="3"></li>
				     <li data-target="#about-carousel" data-slide-to="4"></li>
				      <li data-target="#about-carousel" data-slide-to="5"></li>
				      <li data-target="#about-carousel" data-slide-to="6"></li>

				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    
				    <div class="item">
				    	<img src="./img/about/about2.jpg"  />
				    </div>
				    <div class="item">
				    	<img src="./img/about/fence.jpg"  />
				    </div>

				    <div class="active item">
				    	<img src="./img/about/about1.jpg"  />
				    </div>

				    <div class="item">
				    	<img src="./img/about/about3.jpg" />
				    </div>
				    <div class="item">
				    	<img src="./img/about/northway.jpg" />
				    </div>
				    <div class="item">
				    	<img src="./img/about/gate.jpg" />
				    </div>
				    <div class="item">
				    	<img src="./img/about/pillar.jpg" />
				    </div>

				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#about-carousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#about-carousel" data-slide="next">&rsaquo;</a>
				</div>

				
				
			</div> <!-- /span4 -->
			
		</div> <!-- /.row -->




		
		
		
		
		
		
			

<br />

		
            
</section> <!-- /#content -->


<%= render "shared/footer" %>







