


        
	





<section id="masthead" class="masthead-sub">
	
	<div class="container">
		
		<h2>About Us</h2>
		
	</div> <!-- /.container -->
	
</section> <!-- /#masthead -->        





<section id="content">

    <div class="container">
    	
    	<div class="row">
			
			<div class="section-title">
				<h2>We Love What We Do</h2>
			</div>
			
			<div class="span6">
					
					<h4>京麟企業</h4>

					<br />
					
					<ul class="mark-list">
						
						<li>
							<span class="mark">
								<i class="icon-check"></i> 
							</span>

							<h4>廟宇承建</h4>
							京麟企業股份有限公司創辦人黃東益，於1985年成立“東益水泥工藝社”從事寺廟建築模具開發設計、製造、安裝、翻新、彩繪、剪黏等業務。至1998年成立“京麟企業“，增設木雕、石雕設計製作及進出口等業務，嚴選木雕石雕材料，引進精緻雕刻品。憑藉30餘年的寺廟建築、整體設計、專業規劃能力及堅強工作團隊，京麟企業深獲各界喜愛及肯定。
						</li>
						
						
						   			
					</ul>

				
			</div> <!-- /span4 -->
			
			<div class="span6">

				<br />

				<div id="about-carousel" class="carousel slide">
				  <ol class="carousel-indicators">
				    <li data-target="#about-carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#about-carousel" data-slide-to="1"></li>
				    <li data-target="#about-carousel" data-slide-to="2"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    
				    <div class="item">
				    	<img src="./img/about/office-2.jpg" alt="Office #1" />
				    </div>

				    <div class="active item">
				    	<img src="./img/about/office-1.jpg" alt="Office #2" />
				    </div>

				    <div class="item">
				    	<img src="./img/about/office-3.jpg" alt="Office #3" />
				    </div>

				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#about-carousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#about-carousel" data-slide="next">&rsaquo;</a>
				</div>

				
				
			</div> <!-- /span4 -->
			
		</div> <!-- /.row -->




		<div class="row">

			
			<div class="section-title">
				<h2>Our Process</h2>
			</div>

			<div class="span3">

				<h3><span class="label">Step 1</span> Research</h3>

				<p>Lid est laborum et dolorum fugaste. Etras harum quidem rerum facilis est etras expedita distinctio. Namsir uns libero uns tempo re, cum soluta nobis est eligendi optio cumque nihil impit qd amets untra dolor amet sadipet.</p>

			</div> <!-- /.span3 -->

			<div class="span3">

				<h3><span class="label label-info">Step 2</span> Design</h3>

				<p>Lid est laborum et dolorum fugaste. Etras harum quidem rerum facilis est etras expedita distinctio. Namsir uns libero uns tempo re, cum soluta nobis est eligendi optio cumque nihil impit qd amets untra dolor amet sadipet.</p>

			</div> <!-- /.span3 -->

			<div class="span3">

				<h3><span class="label label-inverse">Step 3</span> Develop</h3>

				<p>Lid est laborum et dolorum fugaste. Etras harum quidem rerum facilis est etras expedita distinctio. Namsir uns libero uns tempo re, cum soluta nobis est eligendi optio cumque nihil impit qd amets untra dolor amet sadipet.</p>

			</div> <!-- /.span3 -->

			<div class="span3">

				<h3><span class="label label-warning">Step 4</span> Deliver</h3>

				<p>Lid est laborum et dolorum fugaste. Etras harum quidem rerum facilis est etras expedita distinctio. Namsir uns libero uns tempo re, cum soluta nobis est eligendi optio cumque nihil impit qd amets untra dolor amet sadipet.</p>

			</div> <!-- /.span3 -->


		</div> <!-- /.row -->
		
		
		
		
		<div class="row">
			
			<div class="section-title">
				<h2>Meet The Team</h2>
			</div>
			
			<div class="span4">

				<div class="">

					<img src="./img/team/member-1.jpg" class="thumbnail" alt="" />
					<br />
					<h4>
						John Doe
						<small>The Builder</small>
					</h4>
					
					
					<br />
					
					<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					
					<hr />

					<a name="socials"></a>

					<ul class="social-icons">
						<li class="social-youtube">
							<a href="javascript:;" title="Youtube" class="ui-tooltip">
								<i class="icon-youtube-play"></i>
							</a>
						</li>

						<li class="social-linkedin">
							<a href="javascript:;" title="LinkedIn" class="ui-tooltip">
								<i class="icon-linkedin"></i>
							</a>
						</li>

						<li class="social-instagram">
							<a href="javascript:;" title="Instagram" class="ui-tooltip">
								<i class="icon-instagram"></i>
							</a>
						</li>

						<li class="social-foursquare">
							<a href="javascript:;" title="Four Square" class="ui-tooltip">
								<i class="icon-foursquare"></i>
							</a>
						</li>
					</ul>

				</div> <!-- /. -->

			</div> <!-- /.span4 -->
			
			<div class="span4">


				<div class="">

					<img src="./img/team/member-2.jpg" class="thumbnail" alt="" />
					<br />
					<h4>
						Jane Doe
						<small>The Joy</small>
					</h4>
					
					
					<br />
					
					<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					
					<hr />
					
					<ul class="social-icons">

						<li class="social-dribbble">
							<a href="javascript:;" title="Dribbble" class="ui-tooltip">
								<i class="icon-dribbble"></i>
							</a>
						</li>

						<li class="social-facebook">
							<a href="javascript:;" title="Facebook" class="ui-tooltip">
								<i class="icon-facebook"></i>
							</a>
						</li>

						<li class="social-twitter">
							<a href="javascript:;" title="Twitter" class="ui-tooltip">
								<i class="icon-twitter"></i>
							</a>
						</li>
					</ul>

				</div> <!-- /. -->


			</div> <!-- /.span4 -->
			
			<div class="span4">

				<div class="">

					<img src="./img/team/member-3.jpg" class="thumbnail" alt="" />
					<br />
					<h4>
						John Doe
						<small>The Support</small>
					</h4>
					
					
					<br />
					
					<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					
					<hr />
					
					<ul class="social-icons">

						<li class="social-pinterest">
							<a href="javascript:;" title="Pinterest" class="ui-tooltip">
								<i class="icon-pinterest"></i>
							</a>
						</li>

						<li class="social-google-plus">
							<a href="javascript:;" title="Google+" class="ui-tooltip">
								<i class="icon-google-plus"></i>
							</a>
						</li>

						<li class="social-skype">
							<a href="javascript:;" title="Skype" class="ui-tooltip">
								<i class="icon-skype"></i>
							</a>
						</li>
					</ul>

				</div> <!-- /. -->

			</div> <!-- /.span4 -->
			
		</div> <!-- /.row -->


<br />

		<div class="row">
				
				<div class="span12">
					
	        		<div class="section-title">
	        		<h2>Our Clients Love Us</h2>
	        		</div>
	
		   			<div class="clients-list">

		   				<img src="./img/clients/logo-client-1.jpg" class="client-logo" alt="Client Logo" />

		   				<img src="./img/clients/logo-client-2.jpg" class="client-logo" alt="Client Logo" />

		   				<img src="./img/clients/logo-client-3.jpg" class="client-logo" alt="Client Logo" />

		   				<img src="./img/clients/logo-client-5.jpg" class="client-logo" alt="Client Logo" />

		   			</div> <!-- /.clients -->
		   			
	   			</div> <!-- ./span12 -->
	   			
   			</div> <!-- /.row -->





        	
    </div> <!-- /container -->
            
</section> <!-- /#content -->





<section id="extra">
	
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
			  	
				<img src="./img/logo-extra.png" alt="Logo" />	
				
				<br />
				<br />
				<br />
				
				<ul class="mark-list small">
					<li>
						<span class="mark">
							<i class="icon-map-marker"></i>
						</span>

						123 Street Name, Suite # <br>
						City, State 12345, Country
					</li>

					<li>
						<span class="mark">
							<i class="icon-phone"></i>
						</span>

						Phone: (123) 123-4567
					</li>

					<li>
						<span class="mark">
							<i class="icon-money"></i>
						</span>

						Toll Free: (800) 123-45677
					</li>

				</ul>
				
			</div> <!-- /.span3 -->
			  
			<div class="span3">		
			
				<h4>Quick Links</h4>

				<ul class="mark-list small">

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./features.html">Features</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./pricing.html">Plans & Pricing</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./faq.html">Faq</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./about.html">About</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./contact.html">Contact</a>
					</li>

				</ul>
				
				<ul class="list-icon">
					
				</ul>	
				
			</div> <!-- /.span3 -->
			  
			<div class="span3">
			
				<h4>We're Social</h4>
					
				<ul class="mark-list small">
					<li>
						<span class="mark">
							<i class="icon-facebook-sign"></i>
						</span> 

						<a href="#">Facebook</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-twitter"></i>
						</span>

						<a href="#">Twitter</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-google-plus"></i>
						</span> 

						<a href="#">Google +</a>
					</li>
				</ul>		
				  
			</div> <!-- /.span3 -->
				
			<div class="span3">
					
				<h4>Subscribe</h4>
				<p>Subscribe to our newsletter and stay up to date with the latest news</p>			
				<form id="extra-newsletter-form">
					<input type="text" placeholder="Your Email" name="subscribe">
					<button class="btn">Subscribe</button>
				</form>
				
			</div> <!-- /.span3 -->	  			
		
		</div> <!-- /.row -->
		
	</div> <!-- /.container -->
	
</section> <!-- /#extra -->





<footer>
	
	<div class="container">
		
		<ul class="pull-left">
			<li>&copy; 2012-13 <a href="javascript:;">Jumpstart UI</a></li>
    	</ul>
    		
		<ul class="pull-right">
			
			<li>Theme by <a href="http://jumpstartui.com" target="_blank"> &nbsp;Jumpstart UI</a></li>
		</ul>
    		
	</div> <!-- /.container -->
	
</footer>




