


	




<section id="masthead" class="masthead-sub">
	
	<div class="container">
		
		<h2>contact us</h2>
		
	</div> <!-- /.container -->
	
</section> <!-- /#masthead -->        





<section id="content">


	<div id="contact-map"
        data-address="sunset park, las vegas"
        data-zoom="13"
        style="width: 100%; height: 275px;">
    </div> <!-- /#contact-map -->


    <div class="layout layout-MS">

        		
    		<div class="section-title">
    			<h2>We'd Love to Hear From You</h2>
    		</div> <!-- /.section-title -->
			
			<div class="main">
				
					
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
					<hr />
					
					<h4>Send Us a Message</h4>
					
					<br />
					
					<form method="post" action="/contact">
						<fieldset>
							
							<div class="control-group">
								<label class="control-label" for="name">Your Name:</label>
								<div class="controls">
									<input tabindex="1" type="text" id="name" class="input-large">
								</div>
							</div> <!-- /.control-group -->
							
							<div class="control-group">
								<label class="control-label" for="email">Email Address:</label>
								<div class="controls">
									<input tabindex="2" size="25" id="email" name="email" type="text" value="" class="input-large">
								</div>
							</div> <!-- /.control-group -->
							
							<div class="control-group">
								<label class="control-label" for="message">Message:</label>
								<div class="controls">
									<textarea tabindex="3" class="input-xxlarge" id="message" name="body" rows="7"></textarea>
								</div>
							</div> <!-- /.control-group -->
							
							<div class="actions">
								<input tabindex="4" type="submit" class="btn btn-primary btn-large" value="Send message">
							</div>
						</fieldset>
					</form>

				
			</div> <!-- /.main -->
			
			<div class="sidebar">
				
				<div class="well">
					
					
					<h4>Address</h4>

					<ul class="mark-list small">

						<li>
							<span class="mark">
								<i class="icon-map-marker"></i>
							</span>

							123 Street Name, Suite # <br>
							City, State 12345, Country
						</li>

					</ul>

					<hr />

					<h4>Phone</h4>


					<ul class="mark-list small">
						<li>
							<span class="mark">
								<i class="icon-phone"></i>
							</span>

							Phone: (123) 123-4567
						</li>

						<li>
							<span class="mark">
								<i class="icon-print"></i>
							</span>

							Fax: (123) 123-4567
						</li>

						<li>
							<span class="mark">
								<i class="icon-money"></i>
							</span>

							Toll Free: (800) 123-45677
						</li>

					</ul>

					<hr />

					<h4>Information</h4>
					
					<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
					
				</div> <!-- /.well -->					
				
			</div> <!-- /.sidebar -->
		
        	
    </div> <!-- /.layout-MS -->
            
</section> <!-- /#content -->





<section id="extra">
	
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
			  	
				<img src="./img/logo-extra.png" alt="Logo" />	
				
				<br />
				<br />
				<br />
				
				<ul class="mark-list small">
					<li>
						<span class="mark">
							<i class="icon-map-marker"></i>
						</span>

						123 Street Name, Suite # <br>
						City, State 12345, Country
					</li>

					<li>
						<span class="mark">
							<i class="icon-phone"></i>
						</span>

						Phone: (123) 123-4567
					</li>

					<li>
						<span class="mark">
							<i class="icon-money"></i>
						</span>

						Toll Free: (800) 123-45677
					</li>

				</ul>
				
			</div> <!-- /.span3 -->
			  
			<div class="span3">		
			
				<h4>Quick Links</h4>

				<ul class="mark-list small">

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./features.html">Features</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./pricing.html">Plans & Pricing</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./faq.html">Faq</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./about.html">About</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./contact.html">Contact</a>
					</li>

				</ul>
				
				<ul class="list-icon">
					
				</ul>	
				
			</div> <!-- /.span3 -->
			  
			<div class="span3">
			
				<h4>We're Social</h4>
					
				<ul class="mark-list small">
					<li>
						<span class="mark">
							<i class="icon-facebook-sign"></i>
						</span> 

						<a href="#">Facebook</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-twitter"></i>
						</span>

						<a href="#">Twitter</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-google-plus"></i>
						</span> 

						<a href="#">Google +</a>
					</li>
				</ul>		
				  
			</div> <!-- /.span3 -->
				
			<div class="span3">
					
				<h4>Subscribe</h4>
				<p>Subscribe to our newsletter and stay up to date with the latest news</p>			
				<form id="extra-newsletter-form">
					<input type="text" placeholder="Your Email" name="subscribe">
					<button class="btn">Subscribe</button>
				</form>
				
			</div> <!-- /.span3 -->	  			
		
		</div> <!-- /.row -->
		
	</div> <!-- /.container -->
	
</section> <!-- /#extra -->





<footer>
	
	<div class="container">
		
		<ul class="pull-left">
			<li>&copy; 2012-13 <a href="javascript:;">Jumpstart UI</a></li>
    	</ul>
    		
		<ul class="pull-right">
			
			<li>Theme by <a href="http://jumpstartui.com" target="_blank"> &nbsp;Jumpstart UI</a></li>
		</ul>
    		
	</div> <!-- /.container -->
	
</footer>

