



	




<section id="masthead" class="masthead-sub">
	
	<div class="container">
		
		<h2>Themes</h2>
		
	</div> <!-- /.container -->
	
</section> <!-- /#masthead -->        





<section id="content">

    <div class="container">


    	<div class="section-title">

    		<h1>Color Themes</h1>
    	</div>


    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Water Theme</h3>

    			<p><code>/css/launched-water.css</code></p>

    			<img src="./img/about/jinlu.jpg" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    			<h3>Carrot Theme</h3>

    			<p><code>/css/launched-carrot.css</code></p>
          <p>hhhhh</p>

    			
    			<img src="./img/themes/carrot.png" class="thumbnail" alt="Rose Theme" />

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->



    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Grass Theme</h3>

    			<p><code>/css/launched-grass.css</code></p>

    			<img src="./img/themes/grass.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    			<h3>Pomegranate Theme</h3>

    			<p><code>/css/launched-pomegranate.css</code></p>

    			
    			<img src="./img/themes/pomegranate.png" class="thumbnail" alt="Rose Theme" />

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->



    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Sunflower Theme</h3>

    			<p><code>/css/launched-sunflower.css</code></p>

    			<img src="./img/themes/sunflower.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    			<h3>Rose Theme</h3>

    			<p><code>/css/launched-rose.css</code></p>

    			
    			<img src="./img/themes/rose.png" class="thumbnail" alt="Rose Theme" />

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->




    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Amethyst Theme</h3>

    			<p><code>/css/launched-amethyst.css</code></p>

    			<img src="./img/themes/amethyst.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    			<h3>Concrete Theme</h3>

    			<p><code>/css/launched-concrete.css</code></p>

    			
    			<img src="./img/themes/concrete.png" class="thumbnail" alt="Rose Theme" />

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->





    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Aquamarine Theme</h3>

    			<p><code>/css/launched-aquamarine.css</code></p>

    			<img src="./img/themes/aquamarine.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    				&nbsp;

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->
        	
    </div> <!-- /container -->
            
</section> <!-- /#content -->











