



	




<section id="masthead" class="masthead-sub">
	
	<div class="container">
		
		<h2>Themes</h2>
		
	</div> <!-- /.container -->
	
</section> <!-- /#masthead -->        





<section id="content">

    <div class="container">


    	<div class="section-title">

    		<h1>Color Themes</h1>
    	</div>


    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Water Theme</h3>

    			<p><code>/css/launched-water.css</code></p>

    			<img src="./img/themes/water.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    			<h3>Carrot Theme</h3>

    			<p><code>/css/launched-carrot.css</code></p>

    			
    			<img src="./img/themes/carrot.png" class="thumbnail" alt="Rose Theme" />

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->



    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Grass Theme</h3>

    			<p><code>/css/launched-grass.css</code></p>

    			<img src="./img/themes/grass.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    			<h3>Pomegranate Theme</h3>

    			<p><code>/css/launched-pomegranate.css</code></p>

    			
    			<img src="./img/themes/pomegranate.png" class="thumbnail" alt="Rose Theme" />

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->



    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Sunflower Theme</h3>

    			<p><code>/css/launched-sunflower.css</code></p>

    			<img src="./img/themes/sunflower.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    			<h3>Rose Theme</h3>

    			<p><code>/css/launched-rose.css</code></p>

    			
    			<img src="./img/themes/rose.png" class="thumbnail" alt="Rose Theme" />

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->




    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Amethyst Theme</h3>

    			<p><code>/css/launched-amethyst.css</code></p>

    			<img src="./img/themes/amethyst.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    			<h3>Concrete Theme</h3>

    			<p><code>/css/launched-concrete.css</code></p>

    			
    			<img src="./img/themes/concrete.png" class="thumbnail" alt="Rose Theme" />

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->





    	
    	<div class="row theme-list">

    		<div class="span6">

    			<h3>Aquamarine Theme</h3>

    			<p><code>/css/launched-aquamarine.css</code></p>

    			<img src="./img/themes/aquamarine.png" class="thumbnail" alt="Sunflower Theme" />

    		</div> <!-- /.span6 -->

    		<div class="span6">

    				&nbsp;

    		</div> <!-- /.span6 -->

    	</div> <!-- /.row -->
        	
    </div> <!-- /container -->
            
</section> <!-- /#content -->





<section id="extra">
	
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
			  	
				<img src="./img/logo-extra.png" alt="Logo" />	
				
				<br />
				<br />
				<br />
				
				<ul class="mark-list small">
					<li>
						<span class="mark">
							<i class="icon-map-marker"></i>
						</span>

						123 Street Name, Suite # <br>
						City, State 12345, Country
					</li>

					<li>
						<span class="mark">
							<i class="icon-phone"></i>
						</span>

						Phone: (123) 123-4567
					</li>

					<li>
						<span class="mark">
							<i class="icon-money"></i>
						</span>

						Toll Free: (800) 123-45677
					</li>

				</ul>
				
			</div> <!-- /.span3 -->
			  
			<div class="span3">		
			
				<h4>Quick Links</h4>

				<ul class="mark-list small">

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./features.html">Features</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./pricing.html">Plans & Pricing</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./faq.html">Faq</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./about.html">About</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-chevron-right"></i>
						</span>

						<a href="./contact.html">Contact</a>
					</li>

				</ul>
				
				<ul class="list-icon">
					
				</ul>	
				
			</div> <!-- /.span3 -->
			  
			<div class="span3">
			
				<h4>We're Social</h4>
					
				<ul class="mark-list small">
					<li>
						<span class="mark">
							<i class="icon-facebook-sign"></i>
						</span> 

						<a href="#">Facebook</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-twitter"></i>
						</span>

						<a href="#">Twitter</a>
					</li>

					<li>
						<span class="mark">
							<i class="icon-google-plus"></i>
						</span> 

						<a href="#">Google +</a>
					</li>
				</ul>		
				  
			</div> <!-- /.span3 -->
				
			<div class="span3">
					
				<h4>Subscribe</h4>
				<p>Subscribe to our newsletter and stay up to date with the latest news</p>			
				<form id="extra-newsletter-form">
					<input type="text" placeholder="Your Email" name="subscribe">
					<button class="btn">Subscribe</button>
				</form>
				
			</div> <!-- /.span3 -->	  			
		
		</div> <!-- /.row -->
		
	</div> <!-- /.container -->
	
</section> <!-- /#extra -->





<footer>
	
	<div class="container">
		
		<ul class="pull-left">
			<li>&copy; 2012-13 <a href="javascript:;">Jumpstart UI</a></li>
    	</ul>
    		
		<ul class="pull-right">
			
			<li>Theme by <a href="http://jumpstartui.com" target="_blank"> &nbsp;Jumpstart UI</a></li>
		</ul>
    		
	</div> <!-- /.container -->
	
</footer>


