<section id="extra">
	
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
			  	
				
				
				<br />
				<br />
				<br />
				
				<ul class="mark-list small">
					<li>
						<span class="mark">
							<i class="icon-map-marker"></i>
						</span>

						地址：嘉義市北社尾673-30號 <br>
						
					</li>

					<li>
						<span class="mark">
							<i class="icon-phone"></i>
						</span>

						電話： (05) 237-9356
					</li>

					<li>
						<span class="mark">
							<i class="icon-money"></i>
						</span>

						傳真電話: (05) 237-2823
					</li>
					<li>
						<span class="mark">
							<i class="icon-money"></i>
						</span>

						電子郵件: 
					</li>

				</ul>
				
			</div> <!-- /.span3 -->
			  
			
				</ul>
			</div> <!-- /.span3 -->	  			
		
		</div> <!-- /.row -->
		
	</div> <!-- /.container -->
	
</section> <!-- /#extra -->
