<section id="content">

    <div class="container">
    	
        	<div class="row">
        		
        		<div class="section-title">
        			<h2>The Features You Need....In a Simple Package</h2>
        		</div> <!-- /.section-title -->
				
        		
        		<div class="span4">

	        		<ul class="mark-list">
	        			<li class="circle">
							<div class="mark"><i class="icon-cloud"></i></div>
							<h4>Cloud Feature</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
						</li>
						
						<li class="circle">
							<div class="mark"><i class="icon-star"></i></div>
							<h4>Star Feature</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
						</li>

	        		</ul>
	        		
				</div> <!-- /.span4 -->
        		
        		<div class="span4">

	        		<ul class="mark-list">
	        			<li class="circle">
							<div class="mark"><i class="icon-tint"></i></div>
							<h4>Tint Feature</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
						</li>
						
						<li class="circle">
							<div class="mark"><i class="icon-magic"></i></div>
							<h4>Magic Feature</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
						</li>

	        		</ul>
	        		
				</div> <!-- /.span4 -->
        		
        		<div class="span4">

	        		<ul class="mark-list">
	        			<li class="circle">
							<div class="mark"><i class="icon-map-marker"></i></div>
							<h4>Map Feature</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
						</li>
						
						<li class="circle">
							<div class="mark"><i class="icon-fire"></i></div>
							<h4>Fire Feature</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
						</li>

	        		</ul>
	        		
				</div> <!-- /.span4 -->

			</div> <!-- /.row -->
			
			
			







			<div class="row">

   				<div class="span7">

	        		<div class="section-title">
	        			<h2>From Our Blog</h2>
	        		</div> <!-- /.section-title -->

	        		<div class="post-mini">

	   					<div class="blog-date">
							<span class="blog-date-month">Dec</span>
							<span class="blog-date-day">21</span>
							<span class="blog-date-year">2012</span>
						</div> <!-- /.blog-date -->

						<h4><a href="./blog-single.html">Selecting the Right Type of Dashboard</a></h4>

						<p class="post-mini-meta">Published by  <em>jumpstartui</em> in <a href="javascript:;">Dashboards</a> with <a href="javascript:;">No Comments</a></p>

						<div class="blog-seperator"></div> <!-- /.blog-seperator -->

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

					</div> <!-- /.post-mini -->

					<div class="post-mini">

	   					<div class="blog-date">
							<span class="blog-date-month">Dec</span>
							<span class="blog-date-day">14</span>
							<span class="blog-date-year">2012</span>
						</div> <!-- /.blog-date -->

						<h4><a href="./blog-single.html">Setting Up Your Company Network</a></h4>

						<p class="post-mini-meta">Published by  <em>jumpstartui</em> in <a href="javascript:;">Dashboards</a> with <a href="javascript:;">No Comments</a></p>

						<div class="blog-seperator"></div> <!-- /.blog-seperator -->

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p>

					</div> <!-- /.post-mini -->

   				</div> <!-- /.span6 -->



   				<div class="span5">

   					<div class="section-title">
	        			<h2>Our Services</h2>
	        		</div> <!-- /.section-title -->

   					<div class="accordion" id="basic-accordion">
				            <div class="accordion-group open">
				              <div class="accordion-heading">
				                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseOne">
				                  Website Design
				                </a>
				              </div>
				              <div id="collapseOne" class="accordion-body in collapse">
				                <div class="accordion-inner">
				                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt.</p>
				                  
				                  <p>Vivamus ac velit eget turpis pharetra placerat bibendum at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
				                </div>
				              </div>
				            </div>
				            <div class="accordion-group">
				              <div class="accordion-heading">
				                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseTwo">
				                  Web Development
				                </a>
				              </div>
				              <div id="collapseTwo" class="accordion-body collapse">
				                <div class="accordion-inner">
				                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqu.</p>
				                  
				                  <p>Vivamus ac velit eget turpis pharetra placerat bibendum at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
				                </div>
				              </div>
				            </div>
				            <div class="accordion-group">
				              <div class="accordion-heading">
				                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseThree">
				                  Search Engine Optimization
				                </a>
				              </div>
				              <div id="collapseThree" class="accordion-body collapse">
				                <div class="accordion-inner">
				                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3.</p>
				                  
				                  <p>Vivamus ac velit eget turpis pharetra placerat bibendum at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
				                  
				                </div>
				              </div>
				            </div>
				          </div>


   				</div> <!-- /.span6 -->



   			</div> <!-- /.row -->
			
			
			
			
			
			
			
			
			<div class="row">
				
				<div class="span12">
					
	        		<div class="section-title">
	        		<h2>Our Clients Love Us</h2>
	        		</div>
	
		   			<div class="clients-list">

		   				<img src="./img/clients/logo-client-1.jpg" class="client-logo" alt="Client Logo" />

		   				<img src="./img/clients/logo-client-2.jpg" class="client-logo" alt="Client Logo" />

		   				<img src="./img/clients/logo-client-3.jpg" class="client-logo" alt="Client Logo" />

		   				<img src="./img/clients/logo-client-5.jpg" class="client-logo" alt="Client Logo" />

		   			</div> <!-- /.clients -->
		   			
	   			</div> <!-- ./span12 -->
	   			
   			</div> <!-- /.row -->


   			<br />
   			<br />





   			<div class="row">
				
				<div class="span6">
					
					<div class="section-title">
						<h2>Why Choose Us</h2>
					</div>
					
					<ul class="mark-list">
						
						<li>
							<span class="mark">
								<i class="icon-check"></i> 
							</span>

							<h4>Benefit Title</h4>
							Nulla mattis augue a velit tincidunt et bibendum tortor convallis.
						</li>
						
						<li>
							<span class="mark">
								<i class="icon-check"></i> 
							</span>

							<h4>Benefit Title</h4>
							Suspendisse auctor neque vel nibh posuere ultricies adipiscing urna imperdiet.
						</li>
						
						<li>
							<span class="mark">
								<i class="icon-check"></i> 
							</span>

							<h4>Benefit Title</h4>
							Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</li>
						
						<li>
							<span class="mark">
								<i class="icon-check"></i> 
							</span>
							
							<h4>Benefit Title</h4>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</li>	     
						   			
					</ul>
					
				</div> <!-- /.span6 -->
				
				<div class="span6">
					
					<div class="section-title">
	        			<h2>Testimonials</h2>
	        		</div>
	        		
	        		<ul class="testimonial-list filled">
		        		<li>
			        		<blockquote>
			        			"I would like to extend a special thank you for your excellent support. Is has been a great experience. I love this template and more so because you provided excellent support!"
			        		</blockquote>
			        		
			        		<img src="./img/profile.jpg" alt=""> Rod Howard, <a href="http://jumpstartui.com" target="_blank">Jumpstart UI</a>
			        	</li>
			        	
		        		<li>
			        		<blockquote>
			        			"I would like to extend a special thank you for your excellent support. Is has been a great experience. I love this template and more so because you provided excellent support!"
			        		</blockquote>
			        		
			        		<img src="./img/profile.jpg" alt=""> Rod Howard, <a href="http://jumpstartui.com" target="_blank">Jumpstart UI</a>
			        	</li>
		        	</ul>
		        	
				</div> <!-- /.span6 -->
				
			</div> <!-- /.row -->


   			

        	
        </div> <!-- /container -->
            
</section> <!-- /#content -->
