<footer>
	
	<div class="container">
		
		<ul class="pull-left">
			<li>&copy; 2012-13 Jumpstart UI</li>
    	</ul>
    		
		<ul class="pull-right">
			
			<li>Theme by <a href="http://jumpstartui.com" target="_blank"> &nbsp;Jumpstart UI</a></li>
		</ul>
    		
	</div> <!-- /.container -->
	
</footer>
