<section id="masthead" class="masthead-home">
	
	<div class="container">
		
		<div id="homepage-carousel" class="carousel slide" data-interval="0">
		  <ol class="carousel-indicators">
		    <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#homepage-carousel" data-slide-to="1"></li>
		    <li data-target="#homepage-carousel" data-slide-to="2"></li>
		  </ol>
		  <!-- Carousel items -->
		  <div class="carousel-inner">


		  	


		    <div class="item active">
				<div class="masthead-text">
        			<h2> 精雕細琢 經典建築鉅作</h2>

        			<h3  align="center"> 三十年技術與經驗傳承 </h3>
        			<font size = 4 align="center">最務實的經營，京麟秉持一日施工，一輩子的責任</font>
        			<br>
        			<font size = 4 align="center">堅持最高品質，精益求精，讓文化傳承更具價值，建築更加完美</font>

        			

        			
        			<br/>
        			
        			<div class="masthead-actions">
        			</div>
        		</div> <!-- /.masthead-text -->
				<div class="masthead-display">
					<img src="./img/about/untitled.jpg"/>
					
				</div> <!-- /.masthead-display -->
		    </div> <!-- /.item -->



		  	<div class="item">
			
				<div class="masthead-text">
			
        			<h2>專業開發 精益求精</h2>
        			
        			<p>持續開發新產品，研究最新技術</p>
        			<p2>千餘種樣式，規格齊全，滿足各種需求</p2>
        			<p3>台灣各地，台、澎、金、馬，全省服務！</p3>


        			
        			<br />
        			
        			<div class="masthead-actions">
	        			
        			</div>
        		</div> <!-- /.masthead-text -->
			
				<div class="masthead-display">
					<img src="./img/about/draw.jpg"/>

					<br />
				
					<iframe src= &amp;byline=0&amp;portrait=0&amp;color=e2007a" width="490" height="275"></iframe>
					
				</div> <!-- /.masthead-display -->
		    </div> <!-- /.item -->



		    <div class="item">



				<div class="masthead-text">


			
        			<h2>Responsive Bootstrap Landing Page Template</h2>

        			<br />
			
        			
        			<ul class="mark-list ">
						
						<li>
							<span class="mark">
								<i class="icon-check"></i> 
							</span>

							<h4>Benefit Title</h4>
							Suspendisse auctor neque vel nibh posuere ultricies adipiscing urna imperdiet.
						</li>
						
						<li>
							<span class="mark">
								<i class="icon-check"></i> 
							</span>

							<h4>Benefit Title</h4>
							Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</li>     
						   			
					</ul>
        		</div> <!-- /.masthead-text -->

				<div class="masthead-display">
					

					<form class="masthead-form well">
					  <div class="control-group">
					    <label class="control-label" for="full_name">Full Name</label>
					    <div class="controls">
					      <input type="text" id="full_name" placeholder="Your Name">
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="email_address">Email Address</label>
					    <div class="controls">
					      <input type="email" id="email_address" placeholder="Your Email">
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="organization">Organization</label>
					    <div class="controls">
					      <input type="text" id="organization" placeholder="Organization Name">
					    </div>
					  </div>
					  <div class="control-group">
					    <div class="controls">

					      <button type="submit" class="btn btn-large btn-primary btn-block">Get Started Today!</button>
					    </div>
					  </div>
					</form>
					
				</div> <!-- /.masthead-display -->

		    </div> <!-- /.item -->





		    
		  </div>
		  <!-- Carousel nav -->
		</div> <!-- /#homepage-carousel -->

		
	</div> <!-- /.container -->
		  <a class="carousel-control left" href="#homepage-carousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#homepage-carousel" data-slide="next">&rsaquo;</a>
	
</section> <!-- /#masthead -->        



