<section id="masthead" class="masthead-home">
	
	<div class="container">
		
		<div id="homepage-carousel" class="carousel slide" data-interval="0">
		  <ol class="carousel-indicators">
		    <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#homepage-carousel" data-slide-to="1"></li>
		    
		  </ol>
		  <!-- Carousel items -->
		  <div class="carousel-inner">


		  	


		    <div class="item active">
				<div class="masthead-text">
        			<h2> 精雕細琢 經典建築鉅作</h2>

        			<h3  align="center"> 三十年技術與經驗傳承 </h3>
        			<font size = 4 align="center">最務實的經營，京麟秉持一日施工，一輩子的責任</font>
        			<br>
        			<font size = 4 align="center">堅持最高品質，精益求精，讓文化傳承更具價值，建築更加完美</font>

        			

        			
        			<br>
        			
        			<div class="masthead-actions">
        			</div>
        		</div> <!-- /.masthead-text -->

				<div class="masthead-display">
					<img src="/assets/root.jpg"/>
					
				</div> <!-- /.masthead-display -->
		    </div> <!-- /.item -->



		  	<div class="item">
			
				<div class="masthead-text">
			
        			<h2>專業開發 精益求精</h2>
        			
        			<p>持續開發新產品，研究最新技術</p>
        			<p2>千餘種樣式，規格齊全，滿足各種需求</p2>
        			<p3>台灣各地，台、澎、金、馬，全省服務！</p3>


        			
        			<br>
        			
        			
        		</div> <!-- /.masthead-text -->
			
				<div class="masthead-display">
					<img src="/assets/draw.jpg"/>

					<br>
				
					
					
				</div> <!-- /.masthead-display -->
		    </div> <!-- /.item -->



		   




		    
		  </div>
		  <!-- Carousel nav -->
		</div> <!-- /#homepage-carousel -->

		
	</div> <!-- /.container -->
		  <a class="carousel-control left" href="#homepage-carousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#homepage-carousel" data-slide="next">&rsaquo;</a>
	
</section> <!-- /#masthead -->        



